@charset "utf-8";
/* CSS Document */
html,body,ul,img,p,span,div,h1,h2,a,dl,dt,dd,h3{margin:0; padding:0; border:0;  font-family:"宋体"; list-style:none;}
body{font-family:"宋体"; font-size:12px; color:#333333; text-decoration:none; margin:0; padding:0; background:#f9f9f9;}
a{ color:#333333; text-decoration:none;}
a:hover{color:#2c63bd; text-decoration:underline;}
#top{background:url(../images/top_bg.gif) ; height:115px;}
.head{width:1000px; margin:0 auto; padding-top:20px; height:60px;}
.menu{width:1000px; height:35px; margin:0 auto;} 
.menu ul li{float:left; height:33px; line-height:33px; text-align:center;}
a.weibo{float:right; width:65px; height:32px; display:block; vertical-align:middle; padding-left:10px;}
a.weibo img{margin:9px 0; vertical-align:middle;}
a.weibo:hover{ text-decoration:none; color:#333333; background:#e3e3e3;}
.about{width:62px; height:33px; background:url(../images/about.gif) no-repeat right; display:block; padding-right:5px;}
.menu p{float:left}

#main{width:1000px; margin:0 auto; clear:both; padding:30px 0; overflow:auto;}
.select {padding:0 15px; }
.select select{color:#999999; width:80px; height:22px; border:1px solid #dedede; }
.select span{margin-right:10px;}
.button {
	display: inline-block;		
	text-align: center;
	width:78px; 
	height:26px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 0px #d9d9d9;
	-moz-box-shadow: 0px 2px 0px #d9d9d9;
	box-shadow: 0px 2px 0px #d9d9d9;	
}
.gray { 
	color:#666666;
	line-height:26px;   
	background: #e7e7e7; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #e3e3e3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e9e9e9 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e9e9e9 0%,#e3e3e3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e9e9e9 0%,#e3e3e3 100%); /* IE10+ */
	background: linear-gradient(top,  #e9e9e9 0%,#e3e3e3 100%); /* W3C */
}
a.gray:hover{
	cursor:pointer;
	color:#666666;
	text-decoration:none;
	line-height:26px;   
	background: #d9d9d9; /* Old browsers */
	
}

.gray_12{ color:#999999; font-size:12px;}
.article{float:left; width:760px; }
.article dl{font-size:14px;  padding:10px 15px;}
.article dl dt{padding-bottom:10px;}
.article h2{ font-size:14px; font-weight:normal; line-height:26px; float:left;}
.article dt span{float:left; line-height:26px;}
.article dd{clear:both;}
.dl_bg{ background: url(../images/line.gif) repeat-x bottom;}
.dl_bg_h{ background: url(../images/line.gif) repeat-x bottom #f2f2f2;}
.dl_bg h3{ font-size:12px; font-weight:normal; line-height:20px; color:#999999;}
.dl_bg_h h3{ font-size:12px; font-weight:normal; line-height:20px; color:#666666;}

.right{float:right; width:220px;}
.right dl dt{ font-size:14px; font-weight:bold; background:#f0f0f0; padding:5px 0 5px 5px; border-left:10px solid #e5e5e5; margin:15px 0 5px 0; color:#666666; }
.right dl dd a{ font-size:12px; line-height:20px; color:#666666; height:20px; vertical-align:middle;}
.right dl dd a:hover{ font-size:12px; line-height:20px; color:#2c63bd;height:20px; vertical-align:middle;}
.right dl dd img{vertical-align:middle; width:5px; height:5px; margin:7px 0; padding-left:5px;}

#foot{ height:65px; background:#e8e8e8; border-top:4px #dedede solid; clear:both; }

.foot_msg{ font-family:Arial; padding-top:10px; color:#666666; padding-left:15px; margin:0 auto; line-height:20px; width:1000px; }

/*内页*/
.neiye_main{width:1000px; margin:0 auto; clear:both;}
.left{width:760px;  padding:5px 0; float:left;}
.location{color:#2c63bd; border-bottom:1px solid #d9d9d9; height:30px;  }
.location img{margin:8px 0; vertical-align:middle;}
.content{width:760px; padding:20px 0;}
.content h3{font-size:12px; color:#999999; font-weight: normal; padding-top:5px;}
.content dt{ border-bottom:dashed 1px #d1d1d1;  padding-bottom:10px;}
.content dd{ padding:20px 0; line-height:30px; font-size:14px;}
.content dd h4{ background:url(../images/line.gif) repeat-x bottom;}
