<div class="select">
    <span> <strong>{{ page.name }}</strong> ({{ site.categories[page.name] | size }}篇文章)</span>
</div>
{% site.categories %}
{% for post in site.categories[page.name] %}
<dl onmouseover="this.className='dl_bg_h'" onmouseout="this.className='dl_bg'" class="dl_bg">
    <dt><h2><img src="{{ site:url }}/images/arrow.gif" width="14" height="13" /> <a href="{{ site:url  }}{{ post.url  }}" target="_blank">{{post.title}}</a></h2><span class="gray_12">({{ post.date | date:"%Y-%m-%d"  }})</span></dt>
    <dd>
        <h3>{{ post.description }}</h3>
    </dd>
</dl>
{% endfor %}