<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{% if page.keywords %} {{  page.keywords }},{% endif %} php, web, linux, hisen, hisenKing"/>
<title>{% if page.title %} {{ page.title }} | {% endif %} hisenKing的日志</title>
<link type="text/css" href="{{ site:url }}/css/style.css" rel="stylesheet" />
<link type="text/css" href="{{ site:url }}/css/prettify.css" rel="stylesheet" />
</head>

<body>
    <div id="top">
        <div class="head"><a href="{{ site:url }}"><img src="{{ site:url }}/images/logo.gif" /></a></div>
        <div class="menu">
		<ul>
            	<li><img src="{{ site:url }}/images/home.gif" width="47" height="33" /></li>
            	<li><a href="{{ site:url }}/aboutme/me.html" class="about">关于我</a></li>
            	<li><a href="http://book.douban.com/people/57179517/all" class="about" target="_blank">阅读</a></li>
            </ul>
        </div>
    </div>